<!-- <div>
  <h3>Update Product</h3>

  <p>Name: <input type="text" [(ngModel)]="restaurant.name"></p>
  <div *ngIf='name'>Product must contain a name.</div>
  <p>Qty: <input type="number" [(ngModel)]="restaurant.cuisine"></p>
  <div *ngIf='cuisine'>Product must contain Qty.</div>
  <p>Price: <input type="number" [(ngModel)]="restaurant.price"></p>
  <div *ngIf='price'>Product must contain Price.</div>
  <button type="button" [routerLink]="['/products']">RESET</button>
  <button type="submit" (click)="editUpdateRestaurant(restaurant)">UPDATE</button>
</div> -->


<div>
    <p>Name: <input type="text" [(ngModel)]="restaurant.name"></p>
  <div *ngIf='name'>Product must contain a name.</div>

    <p>Qty: <input type="number" [(ngModel)]="restaurant.qty"></p>
  <div *ngIf='qty'>Product must contain Qty.</div>

    <p>Price: <input type="number" [(ngModel)]="restaurant.price"></p>
    <button type="button" [routerLink]="['/products']">RESET</button>
    <button type="submit" (click)="editUpdateRestaurant(restaurant)">UPDATE</button>
  </div>


